/* madia query  */
@media only screen and (max-width: 576px) {
    /* .karosel{
        font-size: 5px;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .karosel-heading{
        font-size: 20px;
        margin: 0px;
        padding: 0px;
        width: 50px;
        height: 50%;
    }
    .karosel-para{
        font-size: 20px;
        margin: 0px;
        padding: 0px;
        width: 50%;
        height: 50%;
    } */
    /* .karosel{
        height: auto;
        width: auto;
    }
    .karosel-heading{
        font-size: .5rem;
        padding-top: 50px;
    }
    .karosel-para{
        font-size: .5rem;
        padding-top: 50px;
    } */

    
}